[user]
        name = Cenk Alti
        email = cenkalti@gmail.com

[alias]
        pul = pull --no-edit
        st = status --short --branch
        stu = status -uno
        co = checkout
        ci = commit -m
        cp = cherry-pick
        br = branch
        df = diff
        dfc = diff --cached
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        w = whatchanged
        amend = commit --amend -C HEAD
        xxx = reset --hard

[color]
        ui = true
        pager = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = green
        changed = yellow
        untracked = cyan

[core]
        editor = vim 
        excludesfile = ~/.gitignore_global
        autocrlf = false
        pager = less -FRSX
        whitespace = fix,trailing-space

[merge]
        summary = true

[push]
        default = current
