Xft.dpi: 165.0
xterm*foreground: rgb:b2/b2/b2
xterm*background: rgb:08/08/08
xterm*saveLines: 4096
xterm*vt100*geometry: 80x32
xterm*loginShell: true
xterm*faceSize: 14
xterm*faceName: Terminus
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*cursorBlink: true
xterm*metaSendsEscape: true
xterm*selectToClipboard: true
